/* correctly rearrange classes order */
:root {
    --box-border: 2px;
}


body {
    margin: 0;
    background-color: rgb(23, 23, 23);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    filter: brightness(80%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spotlight {
    /* display: none; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle,
            transparent 160px,
            rgba(0, 0, 0, 1) 14rem);
    z-index: 999;
    background-position: 35em -10em;
}



.ocean {
    position: absolute;
    top: 8em;
    transform: scaleY(-1);
    height: 5%;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: 0;
    left: -36em;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: 0;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.title-container {
    display: flex;
    margin-top: 1em;
}

.box {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 46.875rem;
    height: 21.25rem;
    z-index: 2;
    background-color: rgb(23, 23, 23);
}

.box-container,
.bobble {
    background-color: snow;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--box-border);
    z-index: 1;
}

.box-container {
    overflow: hidden;
}

.bobble-container {
    margin-top: 3em;
    color: #fff;
    display: flex;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
}


.bobble {
    background-color: rgb(23, 23, 23);
    margin-left: 1em;
    margin-right: 1em;
    width: 25rem;
    height: 15.625rem;
    border: solid snow var(--box-border);
    scale: 75%;
    overflow: hidden;
    opacity: 0;
}

.inside-bobble {
    margin-top: -15em;
}

.inside-box {
    position: absolute;
    background-color: rgb(23, 23, 23);
    z-index: 0;
    margin: -2px;
    width: 50px;
    height: 50px;
    scale: 0;
    /* animation: removeInsideBox 1s ease-in-out forwards; */
}

@keyframes removeInsideBox {
    from {
        scale: 0;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}


@keyframes growBox {
    from {
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes text-slide {
    0% {
        margin-top: -15em;
    }

    40% {
        margin-top: 0;
    }

    55% {
        margin-top: -1em;
    }

    65% {
        margin-top: 0;
    }

    75% {
        margin-top: -.75em;
    }

    85% {
        margin-top: 0;
    }

    95% {
        margin-top: -.5em;
    }

    100% {
        margin-top: 0;
    }


    100% {
        margin-top: 0;
    }

}

/* if screen is larger than 1600 px do this */
@media only screen and (min-width: 1600px) {
    .title-container {
        margin-top: 6em;
    }
}

/* if screen is smaller than 500 px do this */
@media only screen and (max-width: 500px) {
    .spotlight {
        background-image: radial-gradient(circle,
                transparent 120px,
                rgba(0, 0, 0, 1) 9rem);
        background-position: 0em 0em;
    }

    .box,
    .bobble {
        width: 21.875rem;
    }

    .bobble-container {
        margin-top: 1em;
    }

    .bobble {
        margin-top: .5em;
    }
}